.sign-up {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    h2, & > span {
        text-align: center;
    }
    @media screen and (max-width:500px) {
        margin-top: 30px;
        width: 100%;
    }
}