.sign-in {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 500px) {
        width: 100%;
    }
    h2, span {
        text-align: center;
    }
}
